.wrapper
{
    

    width: 30%;
    height: 100px;
    background-color: pink;
    margin: 0px auto;
    padding: 0px;
    margin-top: 200px;
    border-radius: 20%;
}

.row
{
    /* position: relative;
    top: 100px;
    margin-top: 20px;
    background-color: green;
    width: 50%;
    height: 50%; */

    height: 40%;
}

.box
{
    /* psition: static; <-- default */
    /* psition: fixed; */
    /* position: relative; */
    float: left;
    /* top: 50px;
    left: 50px; */
    width: 19%;
    height: 70%;
    margin: 3%;
    /* margin-top: 0%; */
    border-radius: 25%; 
    background-color: aquamarine;
    /* padding: 30px; */
    /* margin-top: 200px; */
}

.red
{
    background-color: red;
    /* background-image: url(); */
}